@import "../../variables.scss";

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: min-content;
  padding: 10%;
  background-color: $primary-color;

  .my-photo {
    border-radius: 50%;
    width: 40%;
    margin-top: 15vh;
  }
  h2 {
    letter-spacing: 2px;
    color: $font-bright;
    font-weight: 200;
  }
  .aboutTextBox {
    border-top: solid 0.5px #fff;
    p {
      color: $font-bright;
    }
  }
}

@media screen and (min-width: 760px) {
  .home {
    .my-photo {
      width: 20%;
      margin-top: 0vh;
    }
  }
}
