@import "../../variables.scss";

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  padding: 10%;
  background-color: $primary-color;

  .my-photo {
    border-radius: 50%;
    width: 40%;
    margin-top: 15vh;
  }
  h2 {
    letter-spacing: 2px;
    color: $font-bright;
    font-weight: 400;
  }
  h4 {
    letter-spacing: 2px;
    color: $font-bright;
    font-weight: 300;
  }
  .aboutTextBox {
    text-align: left;
    border-top: solid 0.5px #fff;
    line-height: 29px;
    background-color: rgb(28, 44, 57);
    padding: 2rem;
    transition: opacity 2s ease ;
    p {
      color: $font-bright;
    }
  }
  .recommendationsContainer{
    margin-top: 7rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
   

    .recommendation {
      padding: 2rem;
      background-color: #0c565d;
      margin-bottom: 2.5rem;
     .recommenderNameTitle {
      line-height: 2px;
      .recommender{
        font-size: 20px;
      }
      span {
       font-size: 12px;

      }
     }
     .recommendationText{
      line-height: 26px;
      border-top: solid 1px #fff;
      padding-top: 1rem;
      
      
     }
    }
  }
}

@media screen and (min-width: 760px) {
  .home {
    .my-photo {
      width: 20%;
      margin-top: 0vh;
    }
    .recommendationsContainer{
      margin-top: 4rem;
      }
  }
}
