$primary-color: rgb(40, 66, 85);
$secondary-color: #122332;
$hover-color: rgba(107, 220, 230);
$font-bright: #c2d1d4;
$skill-gray: #6e6e6e;

$skill-bar-gradient1: #12cac7;
$skill-bar-gradient2: #1d7ab1;
